.adoptionList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    justify-items: center;
    margin-bottom: 10rem;
}

.adoptionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #69B578;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #e4f5f4;
}

.adoptionCard__image {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.adoptionCard__info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.adoptionCard__name {
    font-size: 20px;
    font-weight: bold;
}

.adoptionCard__detail {
    font-size: 16px;
    font-weight: normal;
}

.adoptionCard__button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #69B578;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.adoptionCard__button:hover {
    background-color: #558b62;
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}